.disclosure {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	padding: 32px 0;
}

/* heading */
.disclosure > div:first-of-type > div > p {
    font-weight: 500;
    letter-spacing: 0;
    color: var(--text-color) !important;
	font-size: 1rem;
    margin: 0 0 .5rem;
	line-height: 1.45;
}

.disclosure > div:first-of-type {
	grid-column: span 7;
	grid-row: 1;
}

.disclosure > div:nth-of-type(2) {
	grid-column: span 1;
	grid-row: 2;
	align-self: center;
}

.disclosure > div:nth-of-type(3) {
	grid-column: 2 / span 6;
	grid-row: 2;
}


.disclosure > div:last-of-type {
	grid-column: span 7;
	grid-row: 3;
}

.disclosure > div > div > p {
	margin: 0;
	line-height: 1.5;
    font-weight: 400;
    letter-spacing: .01em;
	color: var(--disclosure-color);
	font-size: 0.8rem;
}

.disclosure > div:nth-of-type(3) > div >  p {
	margin: 64px 0 32px 0;
}

.disclosure > div div:nth-child(2) p:first-of-type span {
	height: 12px;
	width: 16px;
	margin: 0 12px 5px 0;
}

.disclosure > div div:nth-child(2) p:first-of-type span img {
	width: 16px;
	height: 12px;
}

.disclosure > div div:nth-child(2) p:nth-of-type(2) {
	margin: 0 0 32px 0;
}

@media (width <= 900px) {
	.disclosure {
		grid-template-columns: repeat(8, 1fr);
	}

	.disclosure > div {
		grid-column: 1/ span 8;
	}
}