footer {
	padding: 32px 2rem 88px 2rem;
	background-color: var(--footer-color);
	color: var(--light-color);
	font-size: var(--body-font-size-s);
  }
  
  footer .footer {
	max-width: 1200px;
	margin: auto;
  }
  
  footer .footer p {
	margin: 0;
  }
  
  /* footer socials section */
  footer .footer > div .section:first-of-type .default-content-wrapper {
	display: flex;
  }
  
  footer .footer > div .section:first-of-type .default-content-wrapper p {
	margin-right: 32px;
	height: 70.5px;
	width: 40px;
	display: inline-block;
  }
  
  footer .footer > div .section:first-of-type .default-content-wrapper p > picture > img {
	height: 40px;
	width: 40px;
  }
  

  
  /* footer columns section */  
  footer .footer > div > .section:nth-of-type(2) {
	padding-top: 16px;
  }

  footer .footer > div > .section:nth-of-type(2) > div {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	width: 100%;
	padding-top: 16px;
  }

  footer .footer > div > .section:nth-of-type(2) > div > ul {
	list-style: none;
	padding: 0;
	margin: 0;
	grid-column: 1/ span 9;
	grid-row: 1/ span 3;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
  }

  footer .footer > div > .section:nth-of-type(2) > div > ul > li {
	font-weight: 400;
	margin: 0;
	padding: 0;
	color: var(--light-color);
	font-size: 1rem;
	display: flex;
	width: fit-content;
	margin-top: 16px;
  }

  footer .footer > div > .section:nth-of-type(2) > div > ul > li > a {
	background-color: transparent;
	border-radius: 0;
	font-weight: 400;
	margin: 0;
	padding: 0;
	color: var(--light-color);
	font-size: 1rem;
	display: block;
  } 

  footer .footer > div > .section:nth-of-type(2) li:hover,
  footer .footer > div > .section:nth-of-type(2) li:hover a {
	text-decoration: underline;
	text-underline-position: under;
	cursor: pointer;
  }
  
  footer .footer > div > .section:nth-of-type(2) p {
	margin: 0;
	grid-column: 11/ span 2;
	font-weight: 400;
	margin: 0;
	padding: 0;
	color: var(--light-color);
	font-size: 1rem;
	display: flex;
	width: fit-content;
	margin-top: 16px;
  }
  
  footer .footer > div > .section:nth-of-type(2) p:hover {
	cursor: default;
	text-decoration: none;
  }
  
  footer .footer > div > .section:nth-of-type(2) p:last-of-type{
	margin-top: 56px;
	margin-bottom: 8px;
  }
  
  
  @media (width <= 900px) {
	footer {
	  padding: 32px 2rem 48px 2rem;
	}
      
	footer .footer > div > .section:first-of-type {
	  width: 49%;
	}

	footer .footer > div .section:first-of-type .default-content-wrapper p { 
		height: unset;
	}

	footer .footer > div .section:first-of-type .default-content-wrapper p > picture > img {
		height: 32px;
		width: 32px;
	}
    
	footer .footer > div > .section:nth-of-type(2) > div {
		grid-template-columns: repeat(4, 1fr);
	}

	footer .footer > div > .section:nth-of-type(2) > div > ul {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 36px;
	}

	footer .footer > div > .section:nth-of-type(2) > div > ul > li,
	footer .footer > div > .section:nth-of-type(2) > div > ul > li > a {
		font-size: 0.9rem;
	}

	footer .footer > div > .section:nth-of-type(2) p:first-of-type {
	  grid-column: 1/ span 4;
	  width: 100%;
	  border-top: solid 1px var(--light-color);
	  padding-top: 24px;
	  font-size: 0.9rem;
	}

	footer .footer > div > .section:nth-of-type(2) p:last-of-type {
		grid-column: 1/ span 4;
		margin-top: 32px;
		font-size: 0.9rem;
	}
  }
  
  @media (width <= 600px) {
	footer {
	  padding: 32px 1rem 88px 1rem;
	}
  }